<% content_for :head do %>
  <title><%= @user.name %> - Monolist</title>
  <discription><%= @user.name %>の持っているモノ、欲しいモノ、別に知りたくないとは思いますが教えちゃいます。</discription>
<% end %>

<%= render 'profile' , user: @user %>


<%= render 'items/list' , items: @items %>