<div class="container">
  <div class="container-ranking clearfix">
<h3>持っているものランキング</h3>

<ol>
<% @items.each do |i| %>
  <li><%= image_tag i.small_image %>
      <%= i.title %></li>
    <% end %>
</ol>
  </div>
</div>